<%- include("partials/header.ejs") %>
<container class="web-page">
    <div class="text-block" id="new-blog">
        <h1 class="henny-penny-regular">New post</h1>
        <form id="new-post-container" action="/submit" method="post">
            <div class="text-content">  
            <div id="new-blog-title">
                <label for="title">Title</label>
                <input type="text" name="title" required>
            </div>
            
            <div>
                <textarea id="new-blog-text" name="blog" placeholder=
                <% if (locals.post) { %>
                            "<%- post %>"
                    <% } else { %>
                        "Your post..."
                    <% } %>
                    required></textarea>
            </div>
               <input class="button-style" type="submit" value="Submit">
            </div>
        </form>
        <% if (locals.message) { %>
            <div class="succesMsg">
                <%= message %>
            </div>
        <% } else if (locals.errMessage) { %>
            <div class="errMsg">
                <%= errMessage %>
            </div>
        <% } %>
    </div>
        

</container>
<%- include("partials/footer.ejs") %>